<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" />
  <title>Document</title>

  <style>
    table,
    h2 {
      color: hsl(257, 63%, 52%);
    }

    table {
      font-size: 18px;
      border-collapse: collapse;
    }

    th {
      padding: 10px;
      text-align: left;
    }

    td {
      padding: 10px;
    }

    h2 {
      font-size: 20px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .title {
      background-color: hsl(257, 63%, 52%);
      display: flex;
      width: 100%;
      font-family: "Poppins", sans-serif;
      line-height: 1.4;
    }

    .title>h1 {
      color: #ffffff;
      margin-left: 1rem;
    }
  </style>
</head>

<body>
  <div class="title">
    <h1>Gestion de stock</h1>
  </div>

  {{{output}}}
</body>

</html>